<div class="object four">
    <div class="row" id="contact">
        <div class="container">
            <div class="col-xs-12 col-md-6">
                <h1>Add Issue:</h1>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>